.skillsContainer {
  margin-top: 20px;
  border: solid pink 2px;
}

.skillsTitle {
  text-align: center;
  margin: 20px 0 20px 0;
  /* font-size: 2.5rem; */
}

.skillsImagesContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  gap: 1rem;
  /*  border: solid red 2px; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imageSkill {
  width: 70px;
  height: 70px;
}

.titleSkill {
  text-transform: capitalize;
}

/* moviles */
@media screen and (max-width: 500px) {
  .imageSkill {
    width: 40px;
    height: 40px;
  }
}
