.skillsTitle {
  text-align: center;
}

.skillsImagesContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  gap: 1rem;
  /*  border: solid red 2px; */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 4rem;
}

.imageSkill {
  width: 70px;
  height: 70px;
}

/* moviles */
@media screen and (max-width: 500px) {
  .imageSkill {
    width: 40px;
    height: 40px;
  }
}
