.aboutContainer {
  margin-top: 10vh;
  /* border: solid green 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutImage {
  /* border: solid red 2px; */
  flex: 1 1 0;
}

.aboutInformation {
  /* border: solid blue 2px; */
  flex: 1 1 0;
  padding: 0 1.5rem 0 1.5rem;
}

.aboutInformation .role {
  color: rgb(16, 182, 228);
}

.aboutInformation div {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  /*  border: solid rgb(107, 19, 115) 1px; */
}

.aboutInformation div a img {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 500px) {
  .aboutContainer {
    flex-direction: column;
  }
  .aboutInformation {
    padding: 1.2rem;
  }
  .aboutInformation div a img {
    width: 35px;
    height: 35px;
  }
}
