.footerContainer {
  margin-top: 20px;
  /* border-top: solid rgba(0, 0, 0, 0.4) 2px; */
  min-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .footerContainer .footerText p {
    font-size: small;
  }
}
